# AUTHJS CREDENTIALS
# Created using npx auth secret on CLI (onetime)
AUTH_SECRET=

# GOOGLE OAUTH API CREDENTIALS
AUTH_GOOGLE_ID=

# MONGODB_URI=mongodb://localhost:27017/dev_collab_db
MONGODB_URI=

#CLOUDINARY CREDENTIALS
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# LINK CREDENTIALS
NODE_ENV=

